header{
    text-align: center;
}

header nav{
    border: 7px solid ;
    border-color: #336c16 #336c16 #981e1e #981e1e;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 700px;
    margin: 10px auto 0 auto;
}


header nav ul{
    list-style: none;
}

a:hover{
    font-weight: bold;
}

#Italy {
    width: 80%;
    padding: 10px;
    border: 3px solid darkgoldenrod;
}

table{
    margin: 0 auto;
    background: #eadfd3;
}

#rome,
#venice{
    border: 2px dashed darkgoldenrod;
    margin: 20px auto;
    padding: 10px;
    overflow: scroll;
}

#cities{
    background: #eadfd4;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

form{
    text-align: center;
    width: 30%;
    padding: 10px;
    border: darkgray 2px solid;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.videoCnt{
    border: 2px solid darkgoldenrod;
    padding : 5px;
    overflow: scroll;
}

#references{
    margin: 20px;
    padding: 10px;
    background: lightgrey;
    overflow: scroll;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

#Italy,
#cities,
.last{
    flex: none;
    width: 30%;
    margin: 20px auto;;
}

.changeBodyBG{
    background: #232020FF;
}

.setColorWhite{
    color: white;
}

.set_aColor{
    color: #a587c9;
}

.setColorBlack{
    color: Black;
}